/* starter css from Ian's lecture */
/* Color pallette hex codes
blue #0b4d78
yellow #dddd22
hottest pink #f819ae
neon green #31D843
hot purple #b92cdd
barely white #dfdfeb
*/
/* @font-face {
  font-family: 'lazerFont';
  src: url(lazer84.ttf);
} */

/***************************** CSS GRID ELEMENTS ***************************/
.parent {
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    background-image: linear-gradient(90deg, #0b4d78 90%, #b92cdd, #f819ae, #dddd22, #31d843, #36FFF8, #0b4d78 );
    display: flex;
  }
  .div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    
  
  }

  * {
    box-sizing: border-box;
  }


/***************************** CSS GENERAL PAGE ELEMENTS ***************************/ 
/* html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} */

body {
  font-family: sans-serif;
  text-shadow: 2px 2px 0 #343434;
  margin: 0;
  background: #0b4d78;
  /* background-image: linear-gradient(90deg, #0b4d78 75%, #b92cdd, #f819ae, #dddd22, #31d843, #36FFF8 );  */
  color: #dddd22;
  

}
@font-face {
  font-family: 'lazer84';
  src: ('./lazer84.rar');
}
/***************************** CSS nav bar & links ***************************/
a {
  color: #dddd22;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background-image: linear-gradient(90deg, #0b4d78 15%, #b92cdd, #f819ae, #dddd22, #31d843, #36FFF8,  #0b4d78 );
}

.wrapper {
  margin: 0 auto;
  padding: 0px;  
}
form {
  color: #dddd22;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

form:hover{
  background-image: linear-gradient(90deg, #0b4d78 15%, #b92cdd, #f819ae, #dddd22, #31d843, #36FFF8,  #0b4d78 );

}
/* Flex Container */
.flex-nav ul {
  list-style: none;
  font-size: 25px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Flex Items */
.flex-nav li {
  flex:3;
}

.flex-nav .social {
  flex: 1;
  align-items: flex-end;
  flex-direction: column;
}

@media all and (max-width: 1000px) {
  
  .flex-nav ul {
    /* flex-wrap: wrap; */
    
  }

  .flex-nav li {
    flex: 1 1 50%;
  }
  .flex-nav .social {
    flex: 1 1 25%;
    
  }
}

@media all and (max-width:500px) {
  .flex-nav li {
    flex-basis: 100%;
  }
}

/***************************** GENERAL PAGE ELEMENTS ***************************/
h1 {
  margin: 25px 25px 10px;
}

h2 {
  display: flex;
  font-style: bold;
  font-size: 30px;
  font-variant: small-caps;
  color: #f819ae;
  text-shadow:2px 2px 0 #343434;
  margin: 10px 50px 10px;

}
.fav-btn {
  background-color: #f819ae;
  margin: 10px 10px 10px;
  border-radius: 2px;
  font-size: 20px;
  align-content: flex-end;
}
.delete-btn {
  background-color: #31d843;
  margin: 10px 10px 10px;
  border-radius: 2px;
  font-size: 20px;
  align-content: flex-end;
}
.thumbs-up {
  background-color: #f819ae;
  margin: 10px 10px 10px;
  border-radius: 2px;
  font-size: 20px;
}
.thumbs-down {
  background-color: #f819ae;
  margin: 10px 10px 10px;
  border-radius: 2px;
  font-size: 20px;
}

.mocktail-name {
  margin: 0px;
}
/* --------------CSS for background on every page --------------------- */


.mocktail-container {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}

.mocktail-tile {
  display: inline;
  justify-content: space-evenly;
  padding: 15px 15px;
  margin: 10px 0px;
  text-align: left;
  color: #f819ae;
  text-shadow: 1px 1px #343434;
  background-color: #0b4d78;
  background-image: linear-gradient(69deg, #0b4d78 69%, #b92cdd, #f819ae, #dddd22, #31d843, #36FFF8);
  border-radius: 0px;
  border: 3px solid #dddd22;
  width: 40%;
}

.mocktail-img {
  /* max-width is set in the html, figure this out later */
object-fit: fill;
max-width: 95%;
max-height: 275px; 
border: 3px solid #f819ae;
justify-content: center;
}

.mocktail-directions {
}

/* .index-tile:hover {
background-color: #F1DDCF;
  color: #DC047B;
  transition: 2s;
} */

/* --------------CSS for Homecook Show Page menus  --------------------- */
.show-container {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
}

.show-tile {
 padding: 15px 15px;
 width: 25%;
 margin: 10px 0px;
 text-align: center;
 background-color: #f4cbc6;
 border-radius: 25px;
 border: 3px solid #908783;
}

.show-img {
 object-fit: cover;
 width: 250px;
 height: 250px;
 border: 3px solid #DC047B;
}

/* ----------------------- CSS for Forms ------------------------------*/

.form-container {
max-width: 300px;
margin: 0px auto;
background-color: #f4cbc6;
color: #908783;
border: 3px solid #908783;
padding: 20px;
border-radius: 25px;
text-align: center;
}



.form-input {
margin-top: 10px;
}

/* --------------CSS grid for show pages --------------------- */

.about {
display: flex;
flex-flow: row wrap;
justify-content: space-around;
}
.bio {
 width: 350px;
 height: 300px;
 justify-content: space-evenly;
 padding: 29px;
 margin: 10px;
 background-color: #f4cbc6;
 border-radius: 25px;
 border: 3px solid #908783;
}

.bio-two {
 width: 400px;
 justify-content: space-evenly;
 padding: 29px;
 margin: 10px;
 background-color: #f4cbc6;
 border-radius: 25px;
 border: 3px solid #908783;
}

.profile-pic {
   width: 400px;
   border: 3px solid #DC047B;
}
